.postPage{
    padding: 3rem;
    padding-right: 1rem;
    padding-top: 2rem;
}
.side_panel{
    padding: 0 20px;
}
.side_panel .ad_img{
    margin-top: 33px;
}
.display_flex{
    display: flex;
}
.videoTitle{
    text-transform: capitalize;
    font-size: 19px;
}
.channel_data{
    margin-top: -7px;
    display: flex;
    justify-content: space-between;
}
.channel_data .child{
    text-transform: capitalize;
    cursor: pointer;
}
.sideHeading{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: .5px solid gray;
}
.sideCard{
    margin-bottom: 0px;
}
.sideVideoCard-data span{
    color: gray;
}
.sideVideoCard{
    display: flex;
}
.sideVideoCard img{
    width: 45%;
    height: 120px;
}
.sideVideoCard .sideVideoCard-data{
    width: 55%;
    padding-left: 10px;
}
.sideVideoCard h2{
    line-height: normal;
    font-size: 14px;
}
.sideVideoCard .flex_box{
 display: flex;
 justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .postPage {
      padding: 1rem !important;
    }
    .side_panel .ad_img{
        margin-top: 0px;
    }
  }